<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Math</title>
</head>

<body>
    <img src="images/BravePointlessBoilweevil.webp" class="header background">
    <img src="images/math-chalkboard-background_23-2148152309.jpg" class="header logo">
    <div id="navigation">
        <button> <a href="#about">About</a></button>
        <button><a href="#contact">Contact Us</a></button>
        <button><a href="#services">Services</a></button>
        <!-- <button><a href="#reviews">Reviews</a></button> -->

    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <section style="text-align: center;">
        <q>Education is the most powerful weapon which you can use to change the world </q>
        <br>
        <cite>-Nelson Mandela</cite>
    </section>
    <img src="images/file119251.png"  class="img1">
    <!-- <img src="images/Nelson_Mandela_1994.jpg" width="300" height="300"> -->
    <br><br><br>

        <h2 id="about"><span class="glyphicon glyphicon-briefcase" style="font-size: large;"></span> Welcome to Basic Math</h2>
        <br>
        <p>Basic Math is a Mathemtics and physical science program ,for FET Phase
            grades. Our goal is set to enhance your problem-solving skills to excellence so you better tackle
            Mathematics and physical
            Science with ease.
        </p>
        <p>Basic Math caters grades from 9th grade to the 12th grade with Mathematics and physical science </p>
    <div><img src="images/1_JChmJn1JJvx8wyPNI7wt6g.jpeg" class="img2" id="services"> 
    
        <h2 ><span class="glyphicon glyphicon-tasks" style="font-size: large;"></span> Services</h2>
        <br><h4 >we offer indepedent categories of sessions </h4>
        <ul>
            <li>Saturday sessions</li>
            <li>Weekly or daily Afternoon sessions</li>
            <li>Holidays sessions</li>
            <li>One on One sessions</li>
        </ul></div>
   
    </section>
    <br><br>
    <footer>
        <h1 style="text-align: center;" id="contact">CONTACT US</h1>
        <span style="font-weight: bold;">phone : +27-658-581-291  <br> 067-194-0837</span> 

        </form>
    </footer>
</body>

</html>