:root {
    --theme: lightslategray;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    /* color: aliceblue; */
}



.background {
    display: block;
    width: 100%;
    height:13vw;
    opacity: 0.8;

}

.logo {
    display: block;
    height: clamp(10px , 5% , 200px);
    width: clamp(40px , 10% , 300px);
    position: absolute;
    top: 3%;
    left: 63%;
}

#navigation {
    margin-left: 2vw;
    margin-top: 2vh;
}

#navigation button {
    border-style: solid;
    border-radius: 7px;
    margin: 2px;
    color: black;
    background-color: transparent;
    font-weight: bold;
    height: 5vh;
    /* width: 2vw; */
    /* width: 10%; */
    

}

#navigation button a {
    text-decoration: none;
    color: inherit;
}

#navigation button:hover {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;

}

section {position: relative;
    padding: 1.5rem;
    height: 30vh;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: "► ";
}

q {
    font-size: 2.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* secti/on /h2{ */
    /* /text-align: center; */
/* } */


.img1{
    display: block;
    height:30% ;
    width: 60%;
}
.img2{position: relative;
    display: block;
    height: 30%;
    width: 60%;
}
footer {
    height: 50vh;
    background-color: var(--theme);
    padding: 1%;
    color: aliceblue;
}